.empTable .col {
    cursor: pointer;
    background-color:rgb(37, 37, 37);
    color: white;
}

.empTable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.empTable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}