.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(56, 56, 56);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(37, 37, 37);
    margin-bottom: 10px;
}